.app_content {
  background-color: #fff;
  &_card {
    margin: 1rem;
    height: 79vh;
  }
}
@media all and (max-width: 900px) {
  .app_content {
    &_card .ant-card-body {
      padding: 0.1rem;
    }
  }
}
